.form-bg {
    background-color: white;
}

.form-inputs input {
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 300px;
    transition: 0.3s;
}

.field {
    background-color: rgb(227, 242, 255);
    border-left: 3px solid #005A87;
}

.form-inputs input:hover {
    box-shadow: 5px 5px 10px gray;
}

.error {
    color: red;
}