/* .add-blog {
  
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center; */
/* } */

.dash-input {
  display: block;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  border-left: 3px solid #005A87;
}

.dash-input:hover {
  box-shadow: 5px 5px 10px gray;
  ;
}